@font-face {
  font-family: "LemonMilk";
  src: url("/fonts/LemonMilk.otf") format("opentype");
  font-style: normal;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: "LemonMilk", sans-serif;
}

.container {
  text-align: center;
}

.branding .img-responsive,
#stream-thumbnail .img-responsive {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: auto;
}
#stream-status {
  font-size: 30px;
}
#stream-thumbnail {
  margin: 2em;
}
#stream-status a {
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: none;
}
#stream-info a {
  text-decoration: none;
  color: #fff;
}
#stream-uptime {
  font-size: 0.75em;
}

a img {
  border: 0;
}

.social-media {
  margin-top: 2em;
}
